
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ERROR 404</title>
  <link rel="stylesheet" href="/CSS/index.css">
  <!-- <link rel="stylesheet" href="/CSS/App.css"> -->
  <link rel="stylesheet" href="/CSS/navbar.css">
  <link rel="stylesheet" href="/CSS/notFound.css">

</head>
<body>

  <div class="container">
    <div class="not-found">
      <h1 id="textContainer"><span id="firstFour">4</span>😢<span id="secondFour">4</span><p class="notFound">Not found !</p></h1>
    </div>
  </div>


  <div class="links">
    <p>Looks like the page you are trying to access does not even exit 😮 </p>
    <a href="/">Home</a>
  </div>


  <script src="/JS/index.js"></script>
  <script src="/JS/notFound.js"></script>
</body>
</html>
