<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enter password</title>
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/App.css">
  <link rel="stylesheet" href="/CSS/navbar.css">
  <link rel="stylesheet" href="/CSS/password.css">
</head>
<body>
  <%- include('./partials/navbar')%>

  <div class="password-form">
    <h2 style="text-align: center;">If you are admin enter the password sent to your Email.</h2>
    <form action="/password/validate/" method="POST">
      <div>
        <label for="OTP">Password</label>
        <input type="text" id="OTP" name="password" placeholder="Enter Password" autocomplete="off">
      </div>
      <button>Submit</button>
    </form>
  </div>

  <%- include('./partials/footer')%>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="/JS/index.js"></script>
  <script src="/JS/footerSubscribe.js"></script>
</body>
</html>
