body{

}

.password-form{
  width: 95vw;
  padding: 20px 0px;
}

.password-form form{
  border: 2px solid var(--textColor);
  /* background:red; */
  width: 300px;
  margin: auto;
  padding: 40px 20px;
}

.password-form form button{
  appearance: none;
  background: var(--brandColor);
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 5px 0px;
}

.password-form form input{
  background: transparent;
  border: none;
  border: 1px solid var(--textColor);
  display: block;
  margin: 5px 0px;
  padding: 5px;
  color: var(--textColor);
}

.password-form form input::placeholder{
  color: var(--textColor);
}

.password-form form input:focus{
  outline: none;
}

@media screen and (max-width: 500px)
{
  .password-form form{
    width: 250px;
  }
}
